apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.deployments.noble.name }}
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: {{ .Values.deployments.noble.name }}
  ports:
    {{- range $port := .Values.deployments.noble.ports }}
      - name: {{ $port.name }}
        port: {{ $port.port }}
        targetPort: {{ $port.port }}
        protocol: TCP
    {{- end }}
  type: NodePort